.activityContainer{
    padding: 0 2rem;
}
.activityContainer h2{
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}
.mainCardContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}