.activityContainer{
    padding: 1rem 2rem;
    background-color: #f2f4fa;
}
.activityContainer h2{
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}
.mainCardContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}