.pageContainer{
        background-color: #f2f4fa;
    display: grid;
    grid-template-columns: 7fr 2fr;
}
.personalContainer{
    position: sticky;
    top: 0;
}
@media only screen and (max-width: 1199.98px) {
.pageContainer {
        background-color: #f2f4fa;
        display: grid;
        grid-template-columns: 5fr 2fr;
    }
}

@media (max-width: 991.98px) {
.pageContainer {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 575.98px) {
    .pageContainer {
        display: flex;
        flex-direction: column;
    }
}

